@CHARSET "ISO-8859-1";
.mainContainer {
	width: 100%;
	height: 100%;
}

#map-canvas {
	width: 100%;
	height: 100%;
}

.formContainer {
	border-style: solid;
	border-width: 1px;
	width: 33%;
	float: left;
	box-shadow: 5px 5px 5px #888888;
}

.mapContainer {
	border-style: solid;
	border-width: 1px;
	width: 65%;
	float: right;
	height: 100%;
	box-shadow: 5px 5px 5px #888888;
}